input{
    margin: 10px 10px 30px 10px;
    padding: 4px;
    background-color: #313131;
}

input:hover{
    background-color: #616161;
    color: white;
}

button{
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}