.container {
        width: 100%;
        max-width: 28rem;
        /* max-w-md */
        margin: 2rem auto;
        /* mx-auto and my-8 */
        padding: 1rem;
        /* px-4 */
        background-color: #374151;
        /* bg-gray-700 */
        color: #fb923c;
        /* text-orange-500 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* shadow-md */
        border-radius: 0.5rem;
        /* rounded-lg */
}

.input-group {
        display: flex;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* shadow */
        border-radius: 0.5rem;
        /* rounded-lg */
        overflow: hidden;
        margin-bottom: 1rem;
        /* mb-4 */
}

.password-input {
        width: 100%;
        padding: 0.25rem 0.75rem;
        /* py-1 px-3 */
        outline: none;
}

.copy-button {
        background-color: #1d4ed8;
        /* bg-blue-700 */
        color: white;
        padding: 0.25rem 0.75rem;
        /* py-1 px-3 */
        outline: none;
        flex-shrink: 0;
        /* shrink-0 */
}

.options {
        display: flex;
        gap: 0.5rem;
        /* gap-x-2 */
        font-size: 0.875rem;
        /* text-sm */
}

.option {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        /* gap-x-1 */
}

.length-range {
        cursor: pointer;
}