.img{
    width: 100px;
    gap: 50px;
    height:100px;
    /* float: left; */
    /* position: relative; */
}

.info{
   display: grid; 
   grid-template-columns: 3;
   grid-gap: 20px;
}
.close{
    height: 20px;
    width: 20px;
    font-size: 12px;
    padding: 5px;
    background-color: white;
    color: black;
    position: absolute;
    /* left:90px ; */
}