/* ToDoList.css */
body {
    font-family: Arial, sans-serif;
    background-color: #313030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #e0dfdf;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
  }
  
  li button {
    background-color: #007bff;
  }
  
  li button:hover {
    background-color: #0056b3;
  }
  
  li button.delete {
    background-color: #dc3545;
  }
  
  li button.delete:hover {
    background-color: #c82333;
  }
  